@model IList<Blog.Entities.Entities.Post>

@{
    ViewBag.Title = "Listado";
}

<h2>Blog de mi Web</h2>

@if (Model.Count > 0){
<ul>
    @foreach(var post in Model){
        <li>@Html.RouteLink("Borrar","Default", new { action = "delete", id = @post.Url}) @Html.RouteLink(post.Title,"Default", new { action = "post", id = @post.Url})</li>
    }
</ul>
    
<div>
    @Html.ActionLink("Añadir Post", "add")
</div>
    
}else{
    <p>No hay ningun post para mostrar</p>
}
